<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="j3.footpon"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/foot" android:label="@string/app_name"
    	android:theme="@android:style/Theme.NoTitleBar"
    	android:debuggable="true">
        <activity android:name=".FootponMapActivity"
        		  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.LAUNCHER" />
            --></intent-filter>
        </activity>
        <activity android:name=".FootponListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".MyFootponActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity android:name=".FootponDetailsActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"
        		  android:label="@string/app_name">
        </activity>
        <activity android:name=".Register"
        		  android:label="@string/app_name">
        </activity>
        <activity android:name=".ShowInformation"
        		  android:label="@string/app_name">
        </activity>
                <activity android:name=".CaloriesBurned"
        		  android:label="@string/app_name">
        </activity>
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".pedometer.StepService"  
            android:exported="true" 
            android:label="@string/app_name" 
            >
   			<intent-filter>
   				<action android:name="android.intent.action.MAIN"/>
   			</intent-filter>
		</service>
		<service android:name=".FootponService" android:enabled="true">
 	    </service>
        
		<uses-library android:name="com.google.android.maps" />
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="4" />

</manifest> 
